<%= video_tag "video.webm", id:"video-background", autoplay: true, loop: true, muted: true %>
<div class="user-form">
  <h3 class="sign-up">Lost your Password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div><br />

    <div class="actions">
      <%= f.submit "Send Reset Password Instructions" %>
    </div>
  <% end %>
</div>


