<%= video_tag "video.webm", id:"video-background", autoplay: true, loop: true, muted: true %>
<div class="user-form">
   <%= content_tag(:div, flash[:error], :id => "flash") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash") if flash[:alert] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login%>
    </div>
    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %><br />
       <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
     <% end -%>


    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>
