<!DOCTYPE html>
<html>
  <head>
    <title>MessageInABottle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <!--  <%= video_tag "beach.webm", id:"video-background", autoplay: true, loop: true, muted: true %> -->
    <div class="container">
      <div class="nav">
        <a href="/">Home</a>
        <% if user_signed_in? %>
          <a href="/static/index">Welcome, <%= current_user.username.capitalize %></a>
          <a href="/users/sign_out">Logout</a>
        <% else %>
          <a href="/users/sign_in">Login</a>
          <a href="/users/sign_up">Sign Up</a>
        <% end %>

      </div>
    </head>

    <body>
      <%= yield %>
    </body>
  </div>
</html>
